:root {
  --primary-color:  #FCEDBE;
  --secondary-color:  #DFA006;

  --hover-color:  #F4C464;

  --nav-font-size: 18px;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
}

button:focus {
  outline: none;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;  
  background-color: transparent;
  z-index: 10;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav__logo {
  cursor: pointer;
  font-size: 22px;
  color: var(--secondary-color);
  transition: .3s ease;
}

.nav__logo:hover {
  color: var(--hover-color);
}

#nav__toggle {
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  justify-self: self-start;
}

nav ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin: 0 15px;
}

nav ul li::after {
  content: '';
  background-color:var(--hover-color);
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transition: .5s ease;
}

nav ul li:hover::after {
  transform: scale(1, 1);
}

nav ul li a {
  color: var(--secondary-color);
  padding: 0;
  text-decoration: none;
  font-size: var(--nav-font-size);
  transition: .3s ease;
}

nav ul li a:hover {
  text-decoration: none;
  color: var(--hover-color);
}

nav label {
  display: none;
}

nav button {
  font-size: var(--nav-font-size);
  padding: 7px 15px;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  transition: .3s ease;
}

nav button:hover {
  background-color: var(--hover-color);
  color: var(--primary-color);
  border: 1px solid var(--hover-color);
}

header {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header__block1{
  background-color: var(--primary-color);
  width: 50vw;
  height: 50vh;
  position: absolute;
  top:0;
  right: 0;
}

.header__block2{
  background-color: var(--primary-color);
  width: 40vw;
  height: 40vh;
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.header__text-box {
  margin: auto;
  width: 50%;
  height: auto;
  position: absolute  ;
  left:  15%;
}

header h1 {
  color: var(--hover-color);
  font-size: 80px;
}

.header__typing-text {
  color: var(--secondary-color);
  background-color: var(--hover-color);
  font-size: 60px;
}

.header__img {
  width: 50%;
  height: auto;
}

.header__center {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;

}
